.entry-container{
    .work-date{
        width: 50%;
        float: right;
    }
    .input-group{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        /* width: 100%; */
        float: right;
        margin-left: 100px;
        margin-top: 35px;
    }
}

