.create-container{
    .bottom{
        display: flex;
        flex-direction: row-reverse;
        button{
            margin: 10px;
        }
    }
}
.config-list-container{

    .query-header{
        display: flex;
    justify-content: space-between;
    }
}